<!DOCTYPE html> 
<html> 
	<head> 
        <title>ZenTXT</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="js/jquery.mobile-1.0.1.min.css" />
        <script src="js/jquery-1.7.1.min.js"></script>
        <script src="js/jquery.mobile-1.0.1.min.js"></script>

        <script>
            var file_id="";
            var rev_id="";

            function set_file_id(id) {
                file_id=id;
                //sessionstorage.setItem("fileid", id);
            }

            function get_file_id() {
                return file_id;
                //return sessionstorage.getItem("fileid");
            }

            function set_rev_id(id) {
                rev_id=id;
                //sessionstorage.setItem("fileid", id);
            }

            function get_rev_id() {
                return rev_id;
                //return sessionstorage.getItem("fileid");
            }

            function add_list_item(list_id, text, href, key, funcname) {
                if(text.length > 0) {
                    var ev = "onClick="+funcname+"('"+key+"');";
                    var el = "<li><a href='"+href+"'"+ev+">"+text+"</a></li>";
                    //el.page();
                    $(list_id).append(el);
                    $(list_id).listview('refresh');
                }
            }

            function load_files() {
                $("#file_list").children().remove();
                var url="/files";
                $.getJSON(url, function(data) {
                    $("#file_list").children().remove();
                    $.each(data.file, function(index, file) {
                        //console.log(file);
                        url="/file?id=" + file.key
                        add_list_item('#file_list', file.name, "#file", file.key, "set_file_id");
                    });
                });
            }

            function load_revisions() {
                $("#rev_list").children().remove();
                var url="/revisions?file=" + get_file_id();//file_id;
                console.log(url);
                $.getJSON(url, function(data) {
                    $("#rev_list").children().remove();
                    $.each(data.revision, function(index, revision) {
                        //console.log(file);
                        url="/rev?id=" + revision.key
                        add_list_item('#rev_list', revision.date, "#revision", revision.key, "set_rev_id");
                    });
                });
            }

            function load_file() {
                $("#form_file_id").val(get_file_id());
                var url="/file?id=" + get_file_id();
                $.get(url, function(data) {
                    $("#content").text(data);
                });
            }

            function load_revision() {
                var url="/rev?id=" + get_rev_id();
                console.log(url);
                $.get(url, function(data) {
                    $("#rev_content").html(data);
                });
            }

            $('#files').live('pageshow', function (event, data) { load_files(); });
            $('#file').live('pageshow', function (event, data) { load_file(); });
            $('#revisions').live('pageshow', function (event, data) { load_revisions(); });
            $('#revision').live('pageshow', function (event, data) { load_revision(); });
        </script>
    </head> 
    <body>
        <div data-role="page" id="files" data-theme="a">
	        <div data-role="header">
		        <h1>Files</h1>
	        </div><!-- /header -->
	        <div data-role="content" data-theme="a">	
                <ul data-role="listview" data-inset="true" data-filter="true" id="file_list"></ul>
                <p><a href="#new_file"data-role="button" data-rel="dialog" data-transition="pop">New file</a></p>
	        </div><!-- /content -->
	        <div data-role="footer">
		        <h4>Page Footer</h4>
	        </div><!-- /footer -->
        </div><!-- /page two -->
        <!--
        FILE PAGE
        -->
        <div data-role="page" id="file" data-theme="a">
	        <div data-role="header">
		        <h1>File</h1>
	        </div><!-- /header -->
	        <div data-role="content" data-theme="a">
                <form id="save" action="/save" method="post">
                    <input type="hidden" name="id" value="zzz" id="form_file_id">
                    <textarea name="content" id="content"></textarea>
                    <input type="submit" value="Save">
                </form>
                <p><a href="#revisions" data-role="button">History</a></p>
                <p><a href="#main" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back to main page</a></p>
	        </div><!-- /content -->
	        <div data-role="footer">
		        <h4>Page Footer</h4>
	        </div><!-- /footer -->
        </div><!-- /page two -->
        <!--
        REVISIONS PAGE
        -->
        <div data-role="page" id="revisions" data-theme="a">
	        <div data-role="header">
		        <h1>Revisions</h1>
	        </div><!-- /header -->
	        <div data-role="content" data-theme="a">	
                <ul data-role="listview" data-inset="true" data-filter="true" id="rev_list"></ul>
                <p><a href="#file" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back to file</a></p>
	        </div><!-- /content -->
	        <div data-role="footer">
		        <h4>Page Footer</h4>
	        </div><!-- /footer -->
        </div><!-- /page two -->
        <!--
        REVISION PAGE
        -->
        <div data-role="page" id="revision" data-theme="a">
	        <div data-role="header">
		        <h1>Revision</h1>
	        </div><!-- /header -->
	        <div data-role="content" data-theme="a">
                <p id="rev_content"></p>
                <p><a href="#revisions" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back to revisions</a></p>
	        </div><!-- /content -->
	        <div data-role="footer">
		        <h4>Page Footer</h4>
	        </div><!-- /footer -->
        </div><!-- /page two -->
        <!--
        NEW FILE PAGE
        -->
        <div data-role="page" id="new_file">
            <div data-role="header" data-theme="e">
	            <h1>New file</h1>
            </div><!-- /header -->
            <div data-role="content" data-theme="d">	
	            <h2>Name</h2>
                <form id="newfile" action="/newfile" method="post">
                    <input type="text" name="name" id="name" data-mini="true" />
                    <input type="submit" value="Create">
                </form>
            </div><!-- /content -->
            <div data-role="footer">
	            <h4>Page Footer</h4>
            </div><!-- /footer -->
        </div><!-- /page popup -->
        <!--
        POPUP PAGE
        -->
        <div data-role="page" id="popup">
        </div><!-- /page popup -->
    </body>
</html>

