<!DOCTYPE html> 
<html> 
	<head> 
        <title>ZenTXT</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="js/jquery.mobile-1.0.1.min.css" />
        <script src="js/jquery-1.7.1.min.js"></script>
        <script src="js/jquery.mobile-1.0.1.min.js"></script>
    </head> 
    <body> 
        <div data-role="page" id="home">

            <div data-role="header">
                <h1>ZenTXT</h1>
            </div><!-- /header -->

            <div data-role="content" >
                <a href="/suggestions">Suggestions</a>
                <a href="/files">Files</a>
                <a href="{{ login_url }}">Login</a>

                <p><a href="#two" data-role="button">Show page "two"</a></p>
                <p><a href="#popup"data-role="button" data-rel="dialog" data-transition="pop">Show page "popup" (as a dialog)</a></p>
            </div><!-- /content -->

            <div data-role="footer" data-theme="d">
                <h4>Page Footer</h4>
            </div><!-- /footer -->
        </div><!-- /page -->

        <div data-role="page" id="two" data-theme="a">
        </div><!-- /page two -->

        <div data-role="page" id="popup">
        </div><!-- /page popup -->
    </body>
</html>
